.main__button{
    a{
        width: 100%;
        text-decoration: none;
        color: black; 
    }
}

.main__button:hover{
    a{
        color: white;
    }
    
}

.main__img{
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.main__img:hover{
    transform: scale(1.05);
}

.contacto-mapa{
    border-radius: 15px;
    width: 500px;
    height: 350px;
}