
.contacto-mapa{
    border-radius: 15px;
    width: 500px;
    height: 350px;
}
  
.contacto li{
  list-style: none;
}
.contacto li a{
  align-items: center;
  justify-content: center;
}

.contact__tittle{
  @extend .index__tittle;
}

.contact__text{
  @extend .index__text;
}

.contact__img{
  @extend .main__img;
}

$rrss: (
    tripadvisor: #1d1d1d,
    facebook: #0913c6,
    instagram: #b42dc9,
  );
  
  @each $name, $color in $rrss {
    .#{$name} {
      background-color: $color;
      margin-top: 5px;
      padding: 5px;
      color: #fff;
      border-radius: 20px;
      text-decoration: none;
      display: flex;
    }
  }

  @media (min-width: 350px){
    .cgrid__1{
      grid-area: ele1;
      .contact__tittle{
          font-size: 25px;
      }
      .contact__text{
          font-size: 15px;
      }      
  }
  .cgrid__2{
      grid-area: ele2;
      display: flex;
      justify-content: center;
      .contacto-mapa{
          width: 320px;
          height: 200px;
      }
      .contact__img{
        width: 300px;
        height: 150px;
      }
  }
  .contact__grid{
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: 180px 280px;
      grid-template-areas: 
      "ele1"
      "ele2";
      justify-content: center;
      align-items: center;

  }
  }

  @media (min-width: 576px){
    .cgrid__2{
      .contact__img{
          width: 350px;
          height: 200px;
      }
      .contacto-mapa{
        width: 350px;
        height: 200px;
      }
  }
  .cgrid__1{
      .index__tittle{
          font-size: 35px;
      }
      .index__text{
          font-size: 20px;
      }
  }

  .contact__grid{
      grid-template-rows: 200px 280px;
  }
  }

  @media (min-width: 768px){
    .cgrid__2{
      .contact__img{
          width: 450px;
          height: 250px;
      }
      .contacto-mapa{
        width: 400px;
        height: 250px;
      }
  }
  .cgrid__1{
      .contact__tittle{
          font-size: 40px;
      }
      .contact__text{
          font-size: 25px;
      }
  }
  .contact__grid{
      grid-template-rows: 250px 300px;
  }
  }

  @media (min-width: 992px){
    .contact__grid{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 360px;
      grid-template-areas: "ele1 ele2";
  }
  .contact__grid{
    grid-template-rows: 400px;
  }
  }


  